<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- Setter Based Dependency Injection -->
	<bean id="b1" class="com.sunbeam.BoxImpl">
		<property name="length" value="5" />
		<property name="breadth" value="4" />
		<property name="height" value="3" />
	</bean>

	<!-- Constructor Based Dependency injection -->
	<bean id="b2" class="com.sunbeam.BoxImpl">
		<constructor-arg index="0" value="10" />
		<constructor-arg index="1" value="8" />
		<constructor-arg index="2" value="6" />
	</bean>
</beans>